.borderRadius {
  border-radius: 6px;
}
.roundedCircle {
  border-radius: 100%;
}

html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* .MuiCardContent-root{
  overflow: auto;
} */